h1 {
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin : 2rem;
}


.container-lg {
    /* border : 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    height : 45rem;
    width : 120rem;
    margin : 2rem;  
}
.items {
    height :11rem;
    width :40rem;
    border :2px solid white;
    margin :1.5rem;
    padding : 0.5rem;
    border-radius : 20px;
    color : white;
    background-color: rgb(51, 31, 31);
}
.items img {
    height : 10rem;
    width : 16rem;
    border-radius: 20px;   
}
.items button{
    background-color: yellow;
    color:black;
    border-radius: 0.7rem;
    padding : 0 0.6rem 0 0.6rem;
}
.btn {
    position : absolute;
    bottom : 0.5rem;
    font-size: 2rem;
    background-color: YELLOW;
    color:black; 
    margin-left : 4rem   
}